*{
    margin: 0;
}
#nav{
    display: flex;
    flex-direction: column;
}
#nav>div{
    /* border: 1px solid red; */
    /* border-bottom: 1px solid grey; */
}
#top_nav{
    display: flex;
    /* border: 1px solid; */
    column-gap: 2vw;
    padding: 0 1vw;
}
#top_nav>div{
    /* border: 1px solid grey; */
}
#logo{
    flex: 2;
}
#logo>img{
    max-width: 100%;
}
#menus{
    align-items: center;
    flex: 15;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(6, auto);
}
#menus>div{
    /* border: 1px solid red; */
    text-align: center;
}
#top_right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
#top_right i{
    text-align: center;
}
.fine{
    text-align: center;
    font-size: 14px;
}
.login{
    display: flex;
    font-family: sans-serif;
    /* column-gap: .5vw; */
}
#top_left>div{
    border: 1px solid green;
}
#mid_nav{
    display: flex;
    padding: 4px;
}
#mid_nav>div{
    /* border: 1px solid green; */
}
#search_bar{
    margin-left: 4vw;
    display: flex;
    flex: 4;
    align-items: center;
    border: 1px solid;
}
.search{
    background-color: #f1f4f6 ;
    margin-left: 2px;
    padding: 2px;
}
#search{
    width: 70%;
}
.search input{
    border: none;
    background-color: #f1f4f6;
    
    border: 1px solid;
    color: black;
}
#quick_order{
    flex: 2;
    display: flex;
    align-items: center;
}
#bottom_nav{
    padding: 1vh 5%;
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
}
#bottom_nav>div{
    font-size: 15px;
}
#quick_order_btn{
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #ff6f61;
}
.category{
    /* text-align: center; */
    font-size: 13px;
}